# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
downloads/
.eggs/
*.egg-info/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media uploads
media/

# Static files
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db